<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd"
       default-autowire="byName">

    <!-- SpringMVC相关Bean配置 -->
    <mvc:annotation-driven conversion-service="conversionService" />
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <ref bean="dateConverter"/>
            </set>
        </property>
    </bean>

    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.AcceptHeaderLocaleResolver">
    </bean>
    <!-- 配置视图 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:prefix="/WEB-INF/view/" p:suffix=".jsp">
        <property name="viewClass">
            <value>org.springframework.web.servlet.view.JstlView</value>
        </property>
    </bean>

    <context:annotation-config/>
    <!-- 把标记了@Controller注解的类转换为bean -->
    <context:component-scan base-package="com.demo.controller"/>
    <!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
          p:defaultEncoding="utf-8"/>

    <!--<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">-->
        <!--<property name="host" value="smtp.163.com" />-->
        <!--<property name="port" value="25" />-->
        <!--<property name="username" value="zxbop@163.com" />-->
        <!--<property name="password" value="*****" />-->
        <!--<property name="javaMailProperties">-->
            <!--<props>-->
                <!--&lt;!&ndash;<prop key="mail.transport.protocol">smtp</prop>&ndash;&gt;-->
                <!--<prop key="mail.smtp.auth">true</prop>-->
                <!--<prop key="mail.smtp.starttls.enable">false</prop>-->
            <!--</props>-->
        <!--</property>-->
    <!--</bean>-->

    <mvc:resources mapping="/**" location="/resources/"></mvc:resources>
    <!--<mvc:annotation-driven />-->


</beans>